[Unit]
Description=Run the Noban watchdog at boot+120s and then every 60s

[Timer]
OnBootSec=120
OnUnitActiveSec=60
AccuracySec=5s

[Install]
WantedBy=timers.target
